/* ======== MAIN STYLES ======== */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/iAc-Makati.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff; 
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

header {
    background-color: rgb(0, 64, 128);
    color: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    height: 48px;
}

#logo {
    height: 32px;
    /* margin: auto; */
    /* margin-right: 8px; */
    margin: auto;
    margin-left: 8px;
}

header #hamburger_button {
    /* display: none; */
    /* position: absolute; */
}

header #user {
    /* position: absolute; */
    right: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 16px;
    font-weight: bold;
}

#hamburger_button {
    height: 48px;
    width: 48px;
    border: 0;
    background-color: #00000000;
    color: inherit;
    display: inline;
    padding: 0;
    cursor: pointer;
}

#hamburger_button img {
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

#navbar {
    background-color: rgba(144, 188, 255, 0.8); 
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* padding: 20px; */
    overflow: hidden;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    visibility: hidden;
    width: 0;
    backdrop-filter: blur(8px);
}

#navbar.nav_shown {
    visibility: visible;
    width: 320px;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navbar ul li a {
    display: block;
    font-weight: bold;
    color: #203b75;
    text-decoration: none;
    padding: 16px;
    opacity: 0%;
    transition: background-color 0.5s, opacity 0.10s;
}

#navbar ul li a:hover {
    background-color: #0000003b;
    color: #d4eaff;
    transition: background-color 0.5s;
}

#navbar.nav_shown ul li a {
    opacity: 100%;
    transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px; 
    padding: 20px;
}

main section {
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: calc(100% - 40px);
    max-width: 600px;
}

/* footer {
    background-color: rgba(0, 64, 128, 0.8); 
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
} */

/* footer p {
    margin: 0;
} */